<nav class="menu push-menu-left">
  <button class="close-menu">Close &#10006;</button>
  <a href="#">HOME</a>
  <a href="#">ABOUT</a>
  <a href="#">APPROACH</a>
  <a href="#">WORK</a>
  <a href="#">BLOG</a>
  <a href="#">CONTACT</a>
</nav>
<div id="wrapper">
  <div class="nav-toggler toggle-push-left icon-list"></div>
  <%=image_tag("mixd-logo-black.svg" ,class: "logo")%>
  <div class="logo-text">WORLD CLASS WEB DESIGN</div>
  <div class="big">
    <a href="#">HOME</a>
    <a href="#">ABOUT</a>
    <a href="#">APPROACH</a>
    <a href="#">WORK</a>
    <a href="#">BLOG</a>
    <a href="#">CONTACT</a>
  </div>
<%= image_tag("pencil-full.png", id: "pencil", alt: "pencil") %>
<p id="slogan">BEAUTIFUL FORM,<br>PERFECT FUNCTION.
<span id="message">We create beautifully-crafted websites that<br>stand out from the crowd - and perfect<br>function comes as standard.</span></p>